* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* debug
.border {
    border:dashed 1px black;
} */

/* header */
.header {
    background-color: #3160e0;
    height: 60px;
    padding: 10px;
    text-decoration: none;
}

.underline {
    text-decoration: none;
    color: white;
}

.botton {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    padding: 10px;
    gap: 20px;
}

.scarica {
    background-color: white;
    color: black;
}

.apri-nel-browser {
    background-color: #232425;
}

.accedi {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    height: 20px;
    width: 60px;
    text-decoration: none;
    margin-top: 11px;
}

.container {
   width: 80%;
   max-width: 1100px;
   margin: 0 auto;
   display: flex;
}

.row-yellow { 
    display: flex;
    gap: 40px;
    padding: 10px;
    margin: auto;
    
}

/* main */
.first-main {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.row-fuchsia {
    text-align: center;
    display: flex;
    display: inline-block;
    margin: auto;
    height: 300px;
    width: 38rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 25px;
}


.padding {
    display: flex;
    padding: 30px 0 30px 0;
}
.row-blue{
    background-color: lightskyblue;
    display: flex;
    margin: auto;
    width: 60%;
    height: 500px;
}

.row-pink{
    background-color: pink;
    display: flex;
    margin: auto;
    width: 40%;
    height: 500px;
}

.bg-grey {
    background-color: lightgray
    ;
}

.row-green {
    background-color: #095309;
    margin: auto;
    height: 700px;
}

.row-light-coral{
    background-color: lightcoral;
    display: flex;
    margin: auto;
    width: 40%;
    height: 500px;
}

.row-light-blue{
    background-color: lightskyblue;
    display: flex;
    margin: auto;
    width: 15%;
    height: 500px;
    border: dashed 1px white;
}

.bg-light-dark {
    background-color: #232425;
}

.row-light-sky {
    background-color: #00fff2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    padding: 10px 0 10px 0;
}

.bg-light-coral {
    background-color: lightcoral;
}

.margin {
    margin-bottom: 20px;
}

.m-b25 {
    margin-bottom: 25px;
}


