* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-size {
    font-size: 50px;
}

/* debug
.border {
    border:dashed 1px black;
} */

/* header */
.header {
    background-color: #3160e0;
    height: 60px;
    padding: 10px;
    text-decoration: none;
}

ul li:first-child {
    color: #7979eb;
    font-size: larger;
    padding: 20px 0px;
}
.underline {
    text-decoration: none;
    color: white;
}

.botton {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    padding: 10px;
    gap: 20px;
}

.scarica {
    background-color: white;
    color: black;
}

.apri-nel-browser {
    background-color: #232425;
}

.accedi {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    height: 20px;
    width: 60px;
    text-decoration: none;
    margin-top: 11px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    
}

.row-yellow {
    display: flex;
    gap: 40px;
    padding: 10px;
    margin: auto;

}

/* main */
.first-main {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.row-fuchsia {
    text-align: center;
    display: flex;
    display: inline-block;
    margin: auto;
    height: 300px;
    width: 38rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 25px;
}


.padding {
    display: flex;
    padding: 30px 0 30px 0;
}

.row-blue {
    
    display: flex;
    margin: auto;
    width: 60%;
    height: 500px;
}

.p-space {
    margin-top: 20px;
    line-height: 30px;
    font-size: large;
}

.row-pink {
    font-size: large;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-content: top;
    margin: auto;
    width: 35%;
    height: 370px;
}

.bg-grey {
    background-color: lightgray;
}

.row-green {
    
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;

}
.row-light-coral div {
    display: flex;
}
.row-light-coral{
    width: 25%;
    color: white;
}
.row-light-coral h1 {
    color: #7979eb;
    padding: 20px 0px;
}
.row-light-coral img {
    line-height: 20px;
    width: 30px;    
    padding-right: 10px;
}

.fa-brands {
    font-size: large;
    margin-top: 10px; 
    margin-right: 15px;
}

.row-light-blue {
    color: white;
    display: flex;
    margin: auto;
    width: 15%;
    height: 500px;
}

.bg-light-dark {
    background-color: #232425;
}

.row-light-sky {
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    padding: 10px 0 10px 0;
}
li {
   margin: 15px;
   font-weight: bolder
}
ul {
    list-style: none;
}

.margin {
    margin-bottom: 20px;
    margin: 0 auto;
    width: 60%;
    
}

.m-b25 {
    margin-bottom: 25px;
}


.h2-size {
    display: flex;
    display: block;
    font-size: larger;
    margin-bottom: 40px;
}

.scarica2 {
    background-color: #7979eb;
    color: #ffffff;
    width: 17%;
    margin: 0 auto;
}

.scarica3 {
    background-color: #7979eb;
    color: #ffffff;
    width: 10%;
}

.container2 {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}
